.body {
    display: flex;
    flex-direction: row;

}

.map {
    width: 50vw;
    height: 50vh;
}

.flag {
    width: 50vw;
    height: 50vh;
    padding: 10% 10% 10% 10%;
}

.flag-parts {
    width: 35vw;
    height: 15vh;
}

.orange {
    background-color: orange;
}

.white {
    background-color: rgb(240, 238, 238);
}

.green {
    background-color: green;
}